* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-inline-start: 5px;

}

svg {
    width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
header {
    text-align: center;
    background: darkgray;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}

/* Column container */
.row {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    margin-right: 20px;
}

#checkboxContainer{
    display: flex; 
    flex-flow: column;
}

/* Map column */
.main {
    padding: 20px;
    width: 30%;
}

.charts{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
}

#firstRowCharts{
    display: flex;
    flex-flow: row;
}
#secondRowCharts{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.placeholder{
    height: 100px;
    margin: 0 auto;
    padding-top: 50px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #ddd;
    padding: 10px;
}


.slidecontainer {
    display: flex;
    flex-flow: column;
}

#sliderWithLabels{
    display:flex; 
    flex-flow: row;
}

.slider {
    -webkit-appearance: none;
    align-self: center;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}